<div data-hook="admin_ebay_store_form_fields">

  <div class="row">

    <div class="left col-9" data-hook="admin_ebay_store_form_left">
      <div data-hook="admin_ebay_store_form_name">
        <%= f.field_container :name do %>
          <%= f.label :name, class: 'required' %>
          <%= f.text_field :name, class: 'fullwidth title', required: true %>
          <%= f.error_message_on :name %>
        <% end %>
      </div>

      <div data-hook="admin_ebay_store_form_name">
        <%= f.field_container :code do %>
          <%= f.label :code, class: 'required' %>
          <%= f.text_field :code, class: 'fullwidth title', required: true %>
          <%= f.error_message_on :code %>
        <% end %>
      </div>

      <div data-hook="admin_ebay_store_form_name">
        <%= f.field_container :url do %>
          <%= f.label :url, class: 'required' %>
          <%= f.text_field :url, class: 'fullwidth title', required: true %>
          <%= f.error_message_on :url %>
        <% end %>
      </div>
    </div>
  </div>
</div>
